@media (min-width: 0px) and (max-width: 991px) {
    .autoCarouselTwoContainer {
        margin: 10px;
    }

    .slider-wrapper {
        border-radius: 10px;
        background-color: #FFFFFF;   
    }

    #autoCarouselTwo .carousel .slide img {
        width: 100%;
    }

    .carousel .carousel-status {
        display: none;
    }
}
