@media(min-width: 0px) and (max-width: 767px) {
    .changePasswordContainer {
        display: flex;
        margin: 10px;
        padding: 10px;
    
        .changePasswordContent {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 150px 0;
        
            & > p:first-child {
                text-align: center;
                font-weight: 600;
                font-size: 22px;
                font-family: Roboto, sans-serif;
                letter-spacing: 0px;
                color: #00243E;
                opacity: 1;
                margin: 0 0 10px 0;
            }
        
            & .changePasswordOld,
            & .changePasswordNew,
            & .changePasswordConfirm {
                display: flex;
                align-items: center;
                border-bottom: 1px solid #DEDEDE;
                margin: 0 0 25px 0;
    
                & > img {
                    height: 16px;
                }
    
                & > input {
                    outline: 0;
                    border: none;
                    padding: 10px;
                }
        
                & > input[attr="placeholder"] {
                    text-align: left;
                    font-weight: 600;
                    font-size: 14px;
                    font-family: Roboto, sans-serif;
                    letter-spacing: 1.1px;
                    color: #9F9F9F;
                    opacity: 1;
                }
            }
    
            & .changePasswordOld {
                margin-top: 25px;
            }
        
            & > button {
                outline: 0;
                border: none;
                border-radius: 22px;
                padding: 10px;
                background: transparent linear-gradient(90deg, #D41F4C 0%, #EC312E 100%) 0% 0% no-repeat padding-box;
                opacity: 1;
                color: #FFFFFF;
                margin: 10px 0 0 0;
            }
        }
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .changePasswordContainer {
        display: flex;
        justify-content: center;
        margin: 10px;
        padding: 10px;
    
        .changePasswordContent {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: 150px 0;
        
            & > p:first-child {
                text-align: center;
                font-weight: 600;
                font-size: 22px;
                font-family: Roboto, sans-serif;
                letter-spacing: 0px;
                color: #00243E;
                opacity: 1;
                margin: 0 0 10px 0;
            }
        
            & .changePasswordOld,
            & .changePasswordNew,
            & .changePasswordConfirm {
                display: flex;
                align-items: center;
                border-bottom: 1px solid #DEDEDE;
                margin: 0 0 25px 0;
    
                & > img {
                    height: 16px;
                }
    
                & > input {
                    outline: 0;
                    border: none;
                    padding: 10px;
                }
        
                & > input[attr="placeholder"] {
                    text-align: left;
                    font-weight: 600;
                    font-size: 14px;
                    font-family: Roboto, sans-serif;
                    letter-spacing: 1.1px;
                    color: #9F9F9F;
                    opacity: 1;
                }
            }
    
            & .changePasswordOld {
                margin-top: 25px;
            }
        
            & > button {
                outline: 0;
                border: none;
                border-radius: 22px;
                padding: 10px;
                background: transparent linear-gradient(90deg, #D41F4C 0%, #EC312E 100%) 0% 0% no-repeat padding-box;
                opacity: 1;
                color: #FFFFFF;
                margin: 10px 0 0 0;
            }
        }
    }
}

@media(min-width: 992px) and (max-width: 4096px) {
    .changePasswordContainer {
        display: grid;
        grid-template-columns: 2fr 10fr;
        column-gap: 25px;
        margin: 40px;
    
        .changePasswordContent {
            display: flex;
            flex-direction: column;
            width: 280px;
            padding: 0 0 0 50px;
        
            & > p:first-child {
                text-align: left;
                font-weight: 600;
                font-size: 14px;
                font-family: Roboto, sans-serif;
                letter-spacing: 0px;
                color: #00243E;
                opacity: 1;
                margin: 0;
            }
        
            & .changePasswordOld,
            & .changePasswordNew,
            & .changePasswordConfirm {
                display: flex;
                align-items: center;
                border-bottom: 1px solid #DEDEDE;
                margin: 0 0 25px 0;
    
                & > img {
                    height: 16px;
                }
    
                & > input {
                    outline: 0;
                    border: none;
                    padding: 10px;
                }
        
                & > input[attr="placeholder"] {
                    text-align: left;
                    font-weight: 600;
                    font-size: 14px;
                    font-family: Roboto, sans-serif;
                    letter-spacing: 1.1px;
                    color: #9F9F9F;
                    opacity: 1;
                }
            }
    
            & .changePasswordOld {
                margin-top: 25px;
            }
        
            & > button {
                outline: 0;
                border: none;
                border-radius: 22px;
                padding: 10px;
                background: transparent linear-gradient(90deg, #D41F4C 0%, #EC312E 100%) 0% 0% no-repeat padding-box;
                opacity: 1;
                color: #FFFFFF;
                margin: 10px 0 0 0;
            }
        }
    }
}
